<link rel="stylesheet" type="text/css"
	href="/assets/1ea1abad/gridview/styles.css" />
<div class="span-19">
	<div id="content">

		<h1>Manage Users</h1>

		<div contador-menu  id="menu">
			Menu
		</div>
		<div contador-menu  id="about">
			About
		</div>
		<div contador-menu  id="contact">
			Contact
		</div>
		<div contador-menu  id="Produtos">
			Produtos
		</div>
		
		
		<div id="user-grid" class="grid-view">

			<table class="items">
				<thead>
					
					<tr class="filters">
						
						<td> Search</td>
						<td ><input name="User" type="text" ng-model="search"  maxlength="20"/></td>
						
						<td colspan="3">&nbsp;</td>
					</tr>
					
					<tr>
						<th id="user-grid_c0"><a class="sort-link"
							>ID</a></th>
						<th id="user-grid_c1"><a class="sort-link"
							>Username</a></th>
						<th id="user-grid_c2"><a class="sort-link"
							>Password</a></th>
						<th id="user-grid_c3"><a class="sort-link"
							>Email</a></th>
						<th class="button-column" id="user-grid_c4">&nbsp;</th>
					</tr>
					
				</thead>
				<tbody>

					<tr ng-class-odd="'odd'" ng-class-even="'even'"
						ng-repeat="user in users | orderBy:'name'  | filter:search">
						<td>{{user.id }}</td>
						<td>{{user.username}}</td>
						<td>{{user.password | inverter}}</td>
						<td>{{user.email }}</td>
						<td class="button-column">
						    <a class="view" title="View"
							href="#/viewuser/{{user.id}}"><img
							src="/assets/1ea1abad/gridview/view.png" alt="View" />
							</a> 
							<a	class="update" title="Update"
							href="#/updateuser/{{user.id}}"><img
							src="/assets/1ea1abad/gridview/update.png" alt="Update" />
							</a> 
							<a	class="delete" title="Delete"
							href="#/useradmin" ng-really-message="Are you sure?" 
							ng-really-click="delete({{user}})"><img
							src="/assets/1ea1abad/gridview/delete.png" alt="Delete" />
							
							</a>
						</td>
					</tr>

				</tbody>
			</table>

		</div>
	</div>
	<!-- content -->
</div>
<div class="span-5 last">
	<div id="sidebar">
		<div class="portlet" id="yw2">
			<div class="portlet-decoration">
				<div class="portlet-title">Operations</div>
			</div>
			<div class="portlet-content">
				<ul class="operations" id="yw3">
					<li><a href="#/user">List User</a></li>
					<li><a href="#/createuser">Create User</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- sidebar -->
</div>